<md-card class="example-card">
    <!-- {{ user | json }} <br>
    {{ userEdit | json }} -->
    <md-card-header class="card-header">
        <img md-card-avatar class="post-image" src="{{user.avatar || 'https://www.ischool.berkeley.edu/sites/default/files/default_images/avatar.jpeg'}}" (click)="openDialog()" >
    </md-card-header>
    
    <form class="example-form">
        <!-- User name -->
        <md-form-field class="example-full-width">
          <input mdInput id="prfusername" placeholder="Username" disabled value={{user.username}}>
        </md-form-field>
        <!-- Nick name -->
        <md-form-field class="example-full-width">
          <input mdInput id="prfnickname" placeholder="Nickname" disabled value={{user.nickname}}>
        </md-form-field>
        <!-- Birthday -->
        <md-form-field class="example-full-width">
            <input mdInput id="prfbirthday" placeholder="Birthday" disabled value={{user.dob}}>
        </md-form-field>
        <!-- Email -->
        <table class="example-full-width" cellspacing="0"><tr>
          <td><md-form-field class="example-full-width">
            <input mdInput id="prfemail" placeholder="Email" disabled value={{userEdit.email}}>
          </md-form-field></td>
          <td>
              <button color="primary" id="editemailbtn" (click)="userEdit.emaileditable=!userEdit.emaileditable" md-raised-button>Edit</button>     
          </td>
        </tr></table>
        <table class="example-full-width" cellspacing="0" *ngIf="userEdit.emaileditable"><tr>
            <td><form class="example-form">
                <md-form-field class="example-full-width">
                  <input type="text" mdInput placeholder="New Email Address" name="email" [(ngModel)]="userEdit.email">
                </md-form-field>
            </form></td>
            <td>
              <button color="primary" id="confirmemailbtn" (click)="update_email()" md-raised-button>Confirm Change</button>
            </td>  
        </tr></table>
        <!-- Password -->
        <table class="example-full-width" cellspacing="0"><tr>
          <td><md-form-field class="example-full-width">
            <input mdInput placeholder="Password" disabled value=...............................>
          </md-form-field></td>
          <td>
              <button color ="primary" id="editpasswordbtn" (click)="user.passwordeditable=!user.passwordeditable" md-raised-button>Edit</button>    
          </td>
        </tr></table>
        <table class="example-full-width" cellspacing="0" *ngIf="user.passwordeditable"><tr>
            <td><form class="example-form">
                <md-form-field class="example-full-width">
                  <input type="password" mdInput placeholder="New Password" name="password" [(ngModel)]="userEdit.password">
                </md-form-field>
            </form></td>
            <td>
              <button color="primary" id="confirmpasswordbtn" (click)="update_password()" md-raised-button>Confirm Change</button>
            </td>  
        </tr></table>

    </form>
    
    <button color ="primary" class="back-button" routerLink="/dashboard" md-raised-button>Back to Homepage</button>


</md-card>
  