<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Weather App</title>
</head>
<body>
	<h5>Today's weather</h5>
	<div id="weather"></div>
	<p>Temperature: <span id="temp"></span></p>
	<p>Wind: <span id="wind"></span></p>
	<!-- <p><span id="wind"></span></p> -->

<script>
	var weather = new XMLHttpRequest();
	weather.open("GET", "http://api.wunderground.com/api/6bbd3abbf5596f9a/conditions/q/FL/Gainesville.json", false);
	weather.send(null);

	var r = JSON.parse(weather.response);
	var weather = "Current location: " + r.current_observation.display_location.full + "<br />";
	var temp = r.current_observation.temperature_string + "<br />"
	var wind = r.current_observation.wind_string + "<br />"
	document.getElementById("weather").innerHTML = weather;
	document.getElementById("temp").innerHTML = temp;
	document.getElementById("wind").innerHTML = wind;

</script>	

</body>
</html>
 　