<!-- <app-login-header></app-login-header> -->
<form (submit)="loginUser($event)">
  <div>
    <img width="300" src="../assets/headerimage/GatorBook.jpg">
  </div>
  <div>
    <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>
  <md-form-field class="example-full-width">
      <input mdInput placeholder="Username">
  </md-form-field>
  <md-form-field class="example-full-width">
      <input type ="password" mdInput placeholder="Password">
  </md-form-field>
  <div class="input">    
    <button color ="primary" type ="submit" md-raised-button>Sign In</button>   
    <button color ="primary" routerLink="/regis-form" md-raised-button>Sign Up</button>
  </div>
</form>
