
<button class="refresh" color ="primary" (click)="refreshSelfposts($event)" md-raised-button>
    <i class="material-icons">refresh</i>
</button>
<md-card class="post-card" *ngFor="let selfPost of selfPosts; let i = index">
  <md-card-header>
      <img md-card-avatar class="post-image" src="{{ curUserAvatar || 'https://www.ischool.berkeley.edu/sites/default/files/default_images/avatar.jpeg'}}">      
      <md-card-title>{{selfPost.createdBy}}</md-card-title>
      <md-card-subtitle>{{selfPost.createdAt | date:"yyyy-MM-dd HH:mm:ss"}}</md-card-subtitle>
  </md-card-header>
  <!-- <img md-card-image src ="{{spaceScreen.img}}"> -->
  <md-card-content>
    <img class="uploadImg" *ngIf="selfPost.img" src="{{ selfPost.img }}"> 
    <p>{{selfPost.body}}</p>
  </md-card-content>
  <md-card-actions>
    <button md-button>
      <i class="material-icons md-18">bookmark</i> 
    </button>
    <!-- <button md-button (click)="markMe(i)">
      <i class="material-icons md-18" [class.green-color]="spaceScreen.marked == '1'">bookmark</i> 
    </button> -->
    <button md-button (click)="deleteSelfposts(i)">
      <i class="material-icons md-18">delete</i> 
    </button>
  </md-card-actions>
</md-card>



