.post-card {
    width: 600px;
  }
  
.post-image {
  background-image: url('../../assets/headerimage/head5.jpg');
  /* background-image: spaceScreen.headerimg; */
  background-size: cover;
}
.refresh {
  width: 648px;
}

.uploadImg{
  width: 100%;
  height: 100%;
  max-width: 300px;
  /* display: block;
  margin: auto; */
}