.post-card {
    width: 600px;
  }
  
.post-image {
  background-image: url('../../assets/headerimage/head5.jpg');
  /* background-image: spaceScreen.headerimg; */
  background-size: cover;
}
.refresh {
  width: 648px;
}