
    <md-card class="post-card" *ngFor="let spaceScreen of spaceScreens; let i = index">
      <img md-card-image src ="{{spaceScreen.img}}">
      <md-card-content>
        <p>{{spaceScreen.description}}</p>
      </md-card-content>
      <md-card-actions>
        <button md-button (click)="markMe(i)">
          <i class="material-icons md-18" [class.green-color]="spaceScreen.marked == '1'">bookmark</i> 
        </button>
        <button md-button (click)="deleteMe(i)">
          <i class="material-icons md-18">delete</i> 
        </button>
      </md-card-actions>
    </md-card>



