<form (submit)="signupUser()">
    <div>
      <label class="regis-title">Sign Up</label>
    </div>
    <div class="alert">
      <flash-messages></flash-messages>
    </div>
    <md-form-field class="example-full-width">
      <input mdInput placeholder="Username" name="signupusername" [(ngModel)]="newUser.username">
    </md-form-field>
    <md-form-field class="example-full-width">
      <input mdInput placeholder="Nickname" name="nickname" [(ngModel)]="newUser.nickname">
    </md-form-field>
    <md-form-field class="example-full-width">
      <input type ="password" mdInput placeholder="Password" name="signuppassword" [(ngModel)]="newUser.password">
    </md-form-field>
    <md-form-field class="example-full-width">
      <input type ="password" mdInput placeholder="Confirm Password" name="confirmedpassword" [(ngModel)]="confirmedpassword">
    </md-form-field>
    <md-form-field class="example-full-width">
      <input type ="text" mdInput placeholder="Email" name="email" [(ngModel)]="newUser.email">
    </md-form-field>
    <!-- <md-form-field>
      <input mdInput [mdDatepicker]="picker" placeholder="Birthdate" [(ngModel)]="newUser.dob">
      <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
      <md-datepicker #picker startView="year" [startAt]="startDate"></md-datepicker>
    </md-form-field> -->
    <md-form-field class="example-full-width">
      <input type ="text" mdInput placeholder="Birthday (mm/dd/yy)" name="birthday" [(ngModel)]="newUser.dob">
    </md-form-field>
    <div class="gender-style">
      <md-radio-group>
      <md-radio-button value="1">Male</md-radio-button>
      <md-radio-button value="2">Female</md-radio-button>
    </md-radio-group>
    </div>
    <div class="button-style">    
      <button color ="primary" id=signupsubmitbtn type ="submit" md-raised-button>Submit</button>
      <button color ="primary" id=signupcancelbtn routerLink="/" md-raised-button>Cancel</button>
    </div>
  </form>