<app-header></app-header>
<md-tab-group> 
  <md-tab label="Home">
    <app-home></app-home>
  </md-tab>
  <md-tab label="My Post">
    <app-selfpost></app-selfpost>
  </md-tab>
  <md-tab label="Friends List">
    <app-friendlist></app-friendlist>
  </md-tab>
  <!-- <md-tab label="Settings">
    <div id="page-padding">
      <h1>Settings</h1>
      <p>A bunch of useful settings can be done here</p>
      <label class="label-title">Number of news displayed</label>
      <md-slider class="md-slider-horizontal" showTicks="true" max="100" min="0" step="1" thumbLabel="true" value="18"></md-slider>
      <md-slide-toggle>Some settings</md-slide-toggle>
    </div>
  </md-tab> -->
</md-tab-group>

<!-- <p>
  Welcome to FitNex!
  <a routerLink="/">Go Back</a>
</p> -->
