:host {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.input {
    position: relative;
}
/* div.input label {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    left: 10px;
    background-image: url(../assets/images-home/alligator.jpg);
    /* background: #121212; */
    /* padding: 5px 2px;
} */
/* .body {
    background-image: url("../assets/images-home/alligator.jpg"); 
} */

div.input input {
    padding: 10px 20px;
    font-size: 25px;
    outline: 0;
}
div.input {
    margin-top: 20px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.example-half-width {
    width: 50%;
}
.example-full-width {
    width: 100%;
}
.alert {
    padding: 20px;
    /* background-color: #f44336; Red */
    color: red;
    margin-bottom: 15px;
}
.sub-title {
    margin-left: 300px;
    font-size: 20px;
    font: bold;
}