/* :host {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
} */
:host {
        flex-grow: 1;
        /* flex-grow: 1; */
         display: flex;
         justify-content: center;
        align-items: center;
        /* align-items: center; */
        /* background-color: white; */
        background-image: url('~/asstes/images-home/alligatorgause.jpg');
     }
div.input {
    position: relative;
}
/* .body {
    background-image: url('~/asstes/images-home/alligator.jpg');
} */
/* }
div.input label {
    background-image:url('./assets/images-home/alligator.jpg');
} */
div.input label {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    left: 10px;
    /* background: white; */
    background-image: url('~/asstes/images-home/alligator.jpg');
    
    padding: 5px 2px;
}
/* .body {
    background-image: url("../assets/images-home/alligator.jpg"); 
} */

div.input input {
    padding: 10px 20px;
    font-size: 25px;
    outline: 0;
}
div.input {
    margin-top: 20px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.example-half-width {
    width: 90%;
    color: red;
    margin-bottom: 15px;
}
.example-middle-width {
    width: 70%;
}
.example-full-width {
    width: 100%;
}
.alert {
    padding: 20px;
    /* background-color: #f44336; Red */
    color: red;
    margin-bottom: 15px;
}
.sub-title {
    /* margin-left: 300px; */
    align-content: right;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: #4DB6AC;
}
.border {
    border: 0px solid rgb(88, 95, 204);
    /* background-color: white; */
    filter:alpha(opacity=50, Style=0);
}