<md-card class="post-card" *ngFor="let spaceScreen of spaceScreens; let i = index">
  <md-card-header>
    <div md-card-avatar class="post-image"></div>
    <md-card-title>{{spaceScreen.name}}</md-card-title>
    <md-card-subtitle>{{spaceScreen.remark}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image src ="{{spaceScreen.img}}" alt="post photo">
  <md-card-content>
    <p>{{spaceScreen.description}}</p>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="likeMe(i)">
      <i class="material-icons md-18" [class.red-color]="spaceScreen.liked == '1'">favorite</i> 
    </button>
    <button md-button (click)="commentMe(i)">
      <i class="material-icons md-18">insert_comment</i> 
    </button>
    <button md-button (click)="shareMe(i)">
      <i class="material-icons md-18">share</i> 
    </button>
    <!-- <button md-button (click)="deleteMe(i)">
      <i class="material-icons md-18">delete</i> 
    </button> -->
  </md-card-actions>
</md-card>